
#logo{

}

body{
background-color: #ffffff
}

#total-number-of-students{
    background-color: #e67300
}

#total-number-of-sessions-this-month{
    background-color: #e67300
}

#money-earned-this-month{
    title-background-color: #e67300
}

