
#logo{

}

body{
background-color: #ffffff
}

#number-of-sessions-in-last-month{
    background-color: #e67300
}

#number-of-sessions-in-last-year{
    background-color: #e67300
}

#time-saved-studying{
    background-color: #e67300
}

