<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h1>Welcome to Stutor4You!</h1>

<p>info, prices, photo,...</p>

<a class="btn btn-primary  btn-sm btn-block" href="{% url 'tutor:tutor_login' %}">Login</a>


<br>

<p>register as a</p>
<a class="btn btn-primary  btn-sm btn-block" href="{% url 'student:student_register' %}">Student</a>
<a class="btn btn-primary  btn-sm btn-block" href="{% url 'tutor:tutor_register' %}">Tutor</a>

<br>
<p>about us</p>
<a class="btn btn-primary  btn-sm btn-block" href="{% url 'about' %}">About</a>
</body>
</html>