{% extends 'student/student_template.html' %}

{% block content %}
<center>
    <H1>Request new lessons</H1>
    </br></br>
    {% if submitted %}
        Your request was submitted succesfully!!!!
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input  type="submit" value="Submit" class="btn btn-secondary">
        </form>
   {% endif %}
    <HR>
    <H2> my pending requests </H2>
    <BR>
      {% for i in my_requests %}
       <a href="{% url 'student:show_request' i.pk  %}">{{ i.pk }} {{i.date}} {{i.subject}} {{i.education_level}} {{i.lessonformat}} {{i.number_lessons}} {{i.status}}  </a><br/>
      {% endfor %}
</center>
{% endblock %}