{% extends 'student/student_template.html' %}

{% block content %}
<center>
    <H1>Request new lessons</H1>
    </br></br>
    {% if submitted %}
        Your request was submitted succesfully!!!!
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input  type="submit" value="Submit" class="btn btn-secondary">
        </form>
   {% endif %}
    <HR>
    <H2> my pending requests </H2>

      {% for i in my_requests %}
    <tr>
      <th scope="row">{{i.date}}</th>
      <td>{{i.date}} </td>
      <td>{{i.subject}} </td>
      <td>{{i.education_level}} </td>
      <td>{{i.lessonformat}} </td>
      <td>{{i.number_lessons}} </td>
      <td>{{i.remarks}} </td>
      <td>{{i.student_account}} </td>
      <td>{{i.status}} </td>
    </tr>
    <BR>
    {% endfor %}
</center>
{% endblock %}