{% extends 'student/student_template.html' %}

{% block content %}

<h1>Previous lessons</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Tutor</th>
      <th scope="col">Subject</th>
      <th scope="col">notes</th>
    </tr>
  </thead>
  <tbody>
  {% for i in mysessions %}
    <tr>
      <th scope="row">{{i.date}}</th>
      <td>{{i.tutor}}</td>
        <td>{{i.subject}}</td>
        <td>{{i.notes}}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}