{%  extends 'stutor/main.html' %}
{% load static %}
{% block content %}


</div>
</div>
<div class="col-md-12">
    <div class="card card-body">
        <img class="rounded-circle" src="{{tutor.profile_picture.url}}" width="20%" height="20%">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}

            <input class="btn btn-primary" type="submit" name="Update Information">
        </form>
    </div>
</div>
</div>


{% endblock %}