{% extends 'stutor/main.html'%}

{% block content %}

{% include 'stutor/status.html' %}

<br>

<div class="row">
  <div class="col-md-6">
    <h5>Lessons</h5>
    <hr>
    <div class="card card-body">

      <a class="btn btn-success btn-sm btn block" href="">Schedule a lesson</a>
      <table class="table table-sm">
        <tr>
          <th></th>
          <th>Subject</th>
          <th>Tutor</th>
          <th>date</th>
          <th>Time</th>
          <th>notes</th>
        </tr>
      </table>

    </div>
  </div>

  <div class="col-md-6">
    <h5>Last 5 lessons</h5>
    <hr>
    <div class="card card-body">
      <a class="btn btn-success  btn-sm btn-block" href="">See previous lessons</a>
      <table class="table table-sm">
        <tr>
          <th>Subject</th>
          <th>Tutor</th>
          <th>date</th>
          <th>Time</th>
          <th>notes</th>
        </tr>
      </table>
    </div>

  </div>

</div>

{% endblock%}

