{% extends 'stutor/main.html'%}
{% load static %}
{% block content %}

{% include 'stutor/status.html' %}
<br>

<div class="row">
  <div class="col-md-7">
    <h5>Lessons</h5>
    <hr>
    <div class="card card-body">


      <table class="table table-sm">
        <tr>
          <th>Subject</th>
          <th>Tutor</th>
          <th>date</th>
          <th>Time</th>
          <th>description</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>

         {% for i in ses %}
          <tr>
            <td>{{i.subject}}</td>
            <td>{{i.tutor}}</td>
            <td>{{i.date}}</td>
            <td>{{i.time}}</td>
            <td>{{i.description}}</td>
            <td> <a class="btn btn-primary  btn-sm btn-block" href="{% url 'update_session' i.id %}">Update</a> </td>
            <td> <a class="btn btn-danger  btn-sm btn-block" href="{% url 'delete_session' i.id %}">Delete</a> </td>
          </tr>
        {% endfor %}

      </table>

    </div>
  </div>

  <div class="col-md-5">
    <h5>Tutors</h5>
    <hr>
    <div class="card card-body">
      <a class="btn btn-primary  btn-sm btn-block" href="">Find new tutors</a>
      <table class="table table-sm">
        <tr>
          <th>Subject</th>
          <th>Tutor</th>
          <th>Price an hour</th>
          <th>Profiles</th>
        </tr>

        {% for i in tut %}
          <tr>
            <td>{{i.subject}}</td>
            <td>{{i.name}}</td>
            <td>{{i.price_an_hour}}</td>
            <td> <a class="btn btn-primary  btn-sm btn-block" href="{% url 'tutor' i.id %}">View Profile</a> </td>
          </tr>
        {% endfor %}

      </table>
    </div>

  </div>

</div>

{% endblock%}

