<br>

<div class="row">
  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id="number-of-sessions-in-last-month">
        <div class="card-header">
          <h5 class="card-title">Total number of tutors</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title"></h3>
          {{total_tutors}}
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id="number-of-sessions-in-last-year">
        <div class="card-header">
          <h5 class="card-title">Total number of students</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title"></h3>
          {{total_students}}
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id="time-saved-studying">
        <div class="card-header">
          <h5 class="card-title">Total number of sessions</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title"></h3>
            {{total_sessions}}
        </div>
      </div>
    </div>
  </div>
</div>