{% extends 'stutor/main.html'%}

{% block content %}

    <br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Student page</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>tutor</th>
                    <th>subject</th>
                    <th>date</th>
                    <th>time</th>
                    <th>notes</th>
                    <th>cost</th>
                    <th>billing</th>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock%}
