{% extends 'stutor/main.html'%}

{% block content %}

    <br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Student page</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Education level</th>
                    <th>Subjects</th>
                </tr>

                {% for i in stu %}
                <tr>
                    <td> {{i.name}} </td>
                    <td> {{i.surname}} </td>
                    <td> {{i.age}} </td>
                    <td> {{i.phone_number}} </td>
                    <td> {{i.email}} </td>
                    <td> {{i.education_level}} </td>
                    <td> {{i.subject}} </td>
                </tr>
                {% endfor %}


            </table>
        </div>
    </div>
</div>

{% endblock %}
