{% extends 'stutor/main.html'%}

{% block content %}

<style>
  .btn-primary {
    color: #ffffff;
    background-color: #e67300;
    border-color: #ffffff;

    .btn-outline-primary:hover {
    color: #222;
    background-color: #ffffff;
    border-color: #7cc;
</style>

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-primary  btn-sm btn-block" href="">Update Customer</a>
			<a></a>
			<a class="btn btn-primary  btn-sm btn-block" href="">Delete Customer</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{email}}</p>
			<p>Phone: {{phone}}</p>
            <p>Bank account: {{bac}}</p>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total hours of tutoring</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ses_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Student</th>
                    <th>Subject</th>
					<th>Date</th>
					<th>Time</th>
					<th>Notes</th>
					<th>Cost</th>
					<th>Billing</th>
					<th>Rating</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>

				{% for i in session %}
				<tr>
					<td>{{i.student}}</td>
					<td>{{i.subject}}</td>
					<td>{{i.date}}</td>
					<td>{{i.time}}</td>
					<td>{{i.notes}}</td>
					<td>{{i.price_an_hour}}</td>
					<td>{{i.current_status}}</td>
					<td>rating</td>
					<td> <a class="btn btn-primary  btn-sm btn-block" href="{% url 'update_session' i.id %}">Update</a> </td>
					<td> <a class="btn btn-danger  btn-sm btn-block" href="{% url 'delete_session' i.id %}">Delete</a> </td>

				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock%}
