{% extends 'stutor/main.html'%}

{% block content %}

<div class="row">
  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id="number-of-sessions-in-last-month">
        <div class="card-header">
          <h5 class="card-title">Total number of sessions</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title"></h3>
          {{total_sessions}}
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id="number-of-sessions-in-last-year">
        <div class="card-header">
          <h5 class="card-title">Total number of students</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title"></h3>
          test
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id="time-saved-studying">
        <div class="card-header">
          <h5 class="card-title">Total amount earned</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title"></h3>
            test
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Tutor account page</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Student</th>
                    <th>Subject</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Notes</th>
                    <th>Cost</th>
                    <th>Billing</th>
                    <th>Rating</th>
                </tr>

                {% for i in sessionn %}
                <tr>
                    <td> {{i.student.name}} </td>
                    <td> {{i.subject}} </td>
                    <td> {{i.date}} </td>
                    <td> {{i.time}} </td>
                    <td> {{i.notes}} </td>
                    <td> {{i.price_an_hour}} </td>
                    <td> {{i.current_status}} </td>
                    <td> Rating </td>

                </tr>
                {% endfor %}


            </table>
        </div>
    </div>
</div>

{% endblock %}