.btn-primary {
    color: #ffffff;
    background-color: #e67300;
    border-color: #ffffff;
    }

   .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #cc7b1f8a;
    border-color: #ffffff;
    }